﻿@{
    ViewData["Title"] = "Personas";
}
<div id="app">
    <h2>Personas</h2>
    <br />
    <div class="row">
        <div class="col-sm-3">
            @*@Html.ActionLink("Nuevo registro", "Save", "Person", null, new { @class="btn btn-success" })*@
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm">
            <table class="table table-sm table-striped table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Fecha de nacimiento</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="person in Persons">
                    <td>{{ person.Id }}</td>
                    <td>{{ person.Name }}</td>
                    <td>{{ person.BirthDate }}</td>
                    @*<td>
                        @Html.ActionLink("Editar", "Edit", "Person", person, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Eliminar", "Delete", "Person", @item, new { @class = "btn btn-danger" })
                    </td>*@
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/js/axios.js"></script>
<script src="~/js/vue.js"></script>
<script src="~/js/urlConfig.js"></script>
<script src="~/js/Person/index.js"></script>