﻿@model Web.Models.PersonViewModel
@{
    ViewData["Title"] = "Save";
}

<h2>Save</h2>
<br />
<form asp-action="Save" method="post">
    <div class="row">
        @Html.HiddenFor(x => x.Id)
        <div class="col-sm-4">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name"></span>
        </div>
        <div class="col-sm-4">
            <label asp-for="BirthDate"></label>
            <input value="@Model.BirthDate.ToString("yyyy-MM-dd")" asp-for="BirthDate" class="form-control"/>
            <span asp-validation-for="BirthDate"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm">
            <button class="btn btn-success">Guardar</button>
        </div>
    </div>
</form>